<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.bjh.model.dao.user.UserDao">
    <select id="selectLogin" parameterType="user" resultType="user">
        SELECT id, name, email FROM user
        WHERE id = #{id} and password = #{password}
    </select>
    <select id="selectUser" parameterType="user" resultType="user">
        SELECT id, name, email FROM user
        WHERE id = #{id} or email = #{email}
    </select>
    <insert id="insertUser" parameterType="user" >
        INSERT INTO user(id, name, email, password)
        VALUES (#{id}, #{name}, #{email}, #{password})
    </insert>
</mapper>