<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.bjh.model.dao.video.VideoDao">
	<select id="selectList" resultType="video">
		SELECT * FROM video
	</select>
	<select id="getVideoDetail" parameterType="int" resultType="video">
		SELECT * FROM video WHERE id = {videoId}
	</select>
	<insert id="insertVideo" parameterType="int">
		INSERT INTO video(title, part, url) 
		VALUES(#{title}, #{part}, #{url}) 
	</insert>
	<update id="updateVideo" parameterType="video">
		UPDATE video 
		SET title = #{title}, part = #{part}, url = #{url}
		WHERE id = #{id}
	</update>
	<delete id="deleteVideo" parameterType="int">
		DELETE FROM video WHERE id = #{id}
	</delete>
</mapper>